<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Sign In</h1>
<form align="center" action="/account/login" method="post">
    Email : <input type="text" name="userEmail"><br>
    Password : <input type="password" name="userPwd"><br>
    <input type="submit" value="sign In" onclick="showMessage()">

<!--    <script>-->
<!--        function showMessage() {-->
<!--            alert("환영합니다");-->
<!--        }-->
<!--    </script>-->
</form>
<script>
</script>
</body>
</html>