<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGNUP</title>
</head>
<script>
    //가입실패시 메시지 출력
    const message = "[[${message}]]";
    //message 변수에 message (signup 에서 오류가 리턴될 경우 값 삽입 아닐경우"")
    if (message.trim() !== "") {
        //message 변수가 비어있지 않을때
        alert(message);
        //alert 출력
    }

    // 입력 초기화 버튼
    function resetForm() {
        document.getElementById("email").value = "";
        document.getElementById("pwd").value = "";
        document.getElementById("checkPwd").value = "";
        document.getElementById("name").value = "";
        document.getElementById("phone").value = "";
        document.getElementById("checkEmailButton").disabled = false;
        document.getElementById("submitButton").disabled = true;
    }
</script>
<body>

<h1 align="center">SIGNUP</h1>
<form align="center" action="/account/signup" method="post">
    <!-- 이메일 입력 필드 -->
    Email: <input type="text" name="userEmail" id="email">
    <button type="button" id="checkEmailButton" onclick="checkEmail()">중복 확인</button><br>
    <!-- 비밀번호 입력 필드 -->
    Password: <input type="password" name="userPwd" id="pwd"><br>
    <!-- 비밀번호 확인 입력 필드 -->
    Repeat password: <input type="password" name="userCheckPwd" id="checkPwd"><br>
    <!-- 이름 입력 필드 -->
    Name: <input type="text" name="userName" id="name" ><br>
    <!-- 전화번호 입력 필드 -->
    Phone Number: <input type="text" name="userPhone" id="phone" ><br>
    <!-- 생년월일 입력 필드 -->
    Birth: <input type="date" name="userBirth" id="birth"><br>
    <th:block th:each="index: ${#numbers.sequence(1, 3)}">
        <label th:for="'userTech' + ${index}">Technology Stack<span th:text="${index}"></span> | 숙련도</label><br>
        <select th:for="'userTech' + ${index}" name="userTech">
            <option th:each="tech : ${techList}"
                    th:text="${tech}"
                    th:value="${tech == '기술 스택을 선택해주세요.'? '없음' : tech}"
                    th:selected="${tech == '기술 스택을 선택해주세요.'}?'selected'">
            </option>
        </select>
        <select style="width: 100px" th:id="'proficiency' + ${index}" name="proficiency">
            <option th:each="p : ${T(com.onemorething.layered.menu.domain.aggregate.enumtype.Proficiency).values()}"
                    th:text="${p}"
                    th:value="${p}">
            </option>
        </select>
        <br>
    </th:block>
<!--    회원가입 버튼-->
    <input type="submit" value="SIGNUP" id="submitButton" disabled>
<!--    리셋버튼-->
    <button type="button" onclick="resetForm()">RESET</button>
<!--    메인으로 이동-->
    <button type="button" onclick="location.href='/'">HOME</button>
</form>
</body>
<script>

    function checkEmail() {
        const emailInput = document.getElementById("email");
        const email = emailInput.value;

        const requestBody = {
            userEmail: email
        };

        fetch("/account/checkEmailButton", {
            method: "POST", // POST 요청
            headers: {
                "Content-Type": "application/json;charset=UTF-8" // 요청 헤더에 JSON 형식으로 데이터 전달을 명시
            },
            body: JSON.stringify(requestBody) // 요청 본문에 JSON 형식의 데이터를 문자열로 변환하여 설정
        })
            .then(function(response) {
                if (response.ok) {
                    return response.text(); // 응답 본문을 텍스트로 추출하여 반환
                } else {
                    throw new Error("이메일 중복 조회에 실패하였습니다."); // 응답이 실패한 경우 에러 throw
                }
            })
            .then(function(result) {
                if (result === "1") {
                    // 이메일 중복이면 처리
                    alert("중복된 이메일입니다.");
                } else if (result === "0") {
                    // 이메일 중복이 아니면 처리
                    alert("사용 가능한 이메일입니다.");
                    emailInput.readOnly = true;
                    document.getElementById("checkEmailButton").disabled = true;
                    document.getElementById("submitButton").disabled = false;
                } else {
                    alert(result);
                }
            })
            .catch(function(error) {
                alert(error.message); // 에러 메시지 출력
            });
    }
</script>
</html>