<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TechRepository">
    <resultMap id="TechResultMap" type="com.onemorething.layered.menu.domain.aggregate.entity.Tech">
        <id property="techSeq" column="techSeq" />
        <result property="techName" column="techName" />
    </resultMap>

    <select id="getTechList" resultMap="TechResultMap">
        SELECT * FROM TECHSTACK
    </select>
</mapper>