<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserRepository">
    <resultMap id="UserResultMap" type="com.onemorething.layered.menu.domain.aggregate.entity.User">
        <id property="userEmail" column="userId" />
        <result property="userName" column="userName" />
        <result property="userPwd" column="userPwd" />
        <result property="userBirth" column="userBirth" />
        <result property="userPhone" column="userPhone" />
        <result property="userTechStack1" column="userTech1" />
        <result property="userTechStack2" column="userTech2" />
        <result property="userTechStack3" column="userTech3" />
    </resultMap>

    <resultMap id="UserResultMap2" type="com.onemorething.layered.menu.domain.aggregate.entity.User">
        <id property="userEmail" column="userId" />
        <result property="userPwd" column="userPwd" />
    </resultMap>

    <select id="getUserList" resultMap="UserResultMap">
        SELECT * FROM USER
    </select>

    <!-- 중복검증 로직-->
    <select id="checkEmail" parameterType="com.onemorething.layered.menu.domain.aggregate.entity.User" resultType="int">
        SELECT  count(*)
        FROM USER
        WHERE userId= #{userEmail}
    </select>
    <!-- 설명. 아이디 찾기 -->
    <select id="findId" resultMap="UserResultMap">
        SELECT userId
             , userName
        FROM USER
        WHERE userName = #{userName} AND userPhone = #{userPhone}
    </select>

    <!-- 설명. 패스워드 찾기 -->
    <select id="findPwd" resultMap="UserResultMap">
        SELECT userName
             , userPwd
        FROM USER
        WHERE userId = #{userEmail} AND userName = #{userName} AND userPhone = #{userPhone}
    </select>

    <!-- 설명. 로그인 -->
    <select id="login" parameterType="com.onemorething.layered.menu.domain.aggregate.entity.User" resultMap="UserResultMap">
        SELECT
               userId
             , userPwd
             , userName
        FROM USER
        WHERE userId = #{ userEmail }
        AND userPwd = #{ userPwd }
    </select>


    <!--    SQL INSERT 연산 쿼리문 정의-->
    <insert id="saveUser" parameterType="com.onemorething.layered.menu.domain.aggregate.entity.User">
        INSERT INTO USER (userId, userName, userPwd, userBirth, userPhone, userTech1, userTech2, userTech3)
        VALUES (#{userEmail}, #{userName}, #{userPwd}, #{userBirth}, #{userPhone}, #{userTechStack1}, #{userTechStack2}, #{userTechStack3})
    </insert>


</mapper>